<head>
    <meta charset="utf-8">
    <title>とあるfastAPIのウェブサイト</title>
    <link rel="stylesheet" href="/stt/css.css" type="text/css" media="all">
</head>

<body style="background-color: #cfe8f8;">
    <h3>登録した客</h3>
    <ul style="border: solid #914 2px;">
        {% for k in kyaku %}
        <li>
            <a href="/kyaku/{{ k[0] }}">{{ k[0] }}</a>　{{ k[1] }}歳
        </li>
        {% endfor %}
        {% if not kyaku %}
        <br>まだ何も登録されていない<br><br>
        {% endif %}
    </ul>
    <h3>新しい客を登録する</h3>
    <form action="/touroku" method="post">
        <div>名前 <input type="text" name="namae"></div>
        <div>年齢 <input type="text" name="nenrei"><br></div>
        <div><input type="submit" value="登録"></div>
    </form>
    <br>
    <a href="/csv">データを.csvにしてダウンロードする</a>
</body>